<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/css/styleFin.css" />

</head>

<body>
<h1>Изменение статуса заявки</h1>

<form method="POST" action="#" th:action="${URL}">
    <label>Введите id задачи:  </label>
    <input type="text" name="id"><br>
    <label>Выберете статус задачи:  </label>
    <select name="status" required>
        <option value="IN WORK">IN WORK</option>
        <option value="NEED INFO">NEED INFO</option>
        <option value="DONE">DONE</option>
    </select><br>
    <input type="submit" value="Изменить статус"><br>
</form>


<hr>
<a href="/api/v1/getMainPage">Вернуться на главную</a>
</body>
</html>