<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" type="text/css" href="/css/styleFin.css" />

</head>

<body>
<h1>Help Desk</h1>

<form method="GET" action="/api/v1/users/getAllTasks">
    <input type="submit" value="Просмотр всех заявок"><br>
</form>
<form method="GET" action="/api/v1/user/addUserPage">
    <input type="submit" value="Создание заявки"><br>
</form>
<form method="GET" action="/api/v1/user/editUserPage">
    <input type="submit" value="Добавление информации по заявке"><br>
</form>
<form method="GET" action="/api/v1/user/deleteUserPage">
    <input type="submit" value="Удаление заявки"><br>
    <hr>
</form>

</body>
</html>